//====================================================================================================
.main-slider {
	// .main-slider__body
	&__body {
	}
	// .main-slider__item
	&__item {
	}
	// .main-slider__control
	&__control {
	}
}

//========================================================================================================================================================
// ?.item-main-slider
.item-main-slider {
	// .item-main-slider__content
	&__content {
		position: relative;
		z-index: 2;
		padding-top: rem(280);
	}
	// .item-main-slider__container
	&__container {
	}
	// .item-main-slider__text
	&__text {
		display: flex;
		flex-direction: column;
		color: #fff;
		&:not(:last-child) {
			margin-bottom: rem(170);
		}
	}
	// .item-main-slider__title
	&__title {
		font-family: "Playfair Display", serif;
		@include adaptiveValue("font-size", 84, 40);
		line-height: 1.333; /* 112/84 */
		max-width: rem(900);
		width: 100%;
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	// .item-main-slider__desc
	&__desc {
		//font-size: rem(24);
		@include adaptiveValue("font-size", 24, 18);
		line-height: 1.167; /* 28/24 */
	}
	// .item-main-slider__bg-ibg
	&__bg-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	// .item-main-slider__offer
	&__order {
		max-width: rem(1473);
		@media (max-width: rem(1152)) {
			max-width: rem(1056);
		}
		width: 100%;
		height: rem(216);
		background: #fff;
		border-radius: 0 rem(20) rem(20) 0;
		margin-bottom: rem(270);
		@media (max-width: rem(600)){
			width: rem(420);
			width: 100%;
		}
		@media (max-width: rem(600)){
			border-radius: rem(0) rem(0) rem(20) rem(20);
			margin: 0 auto;
			margin-bottom: rem(100);
		}
	}
}

.order {
	display: flex;
	justify-content: end;
	@media (max-width: rem(600)){
		flex-direction: column;
		max-width: rem(470);
		width: 100%; 
		height: 100%;
	}
	// .order__row
	&__row {
		display: flex;
		margin: 0 rem(-15);
		align-items: center;
		max-width: rem(1021);
		width: 100%;
		padding: rem(0) rem(100) rem(0) rem(32);
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			padding: rem(23) rem(100) rem(23) rem(32);;
		}
		@media (max-width: $mobile) {
			padding: rem(23) rem(100) rem(23) rem(32);
			@include adaptiveValue("padding-right", 100, 50);
		}
		@media (max-width: rem(600)){
			&:not(:last-child) {margin-bottom: rem(80);}

		}
	}
	// .order__column
	&__column {
		flex: 0 1 25%;
		padding: 0 rem(15);
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: rem(600)) {
			flex: 0 1 100%;
			&:not(:last-child) {
				margin-bottom: rem(40);
			}
		}
	}
	// .order__card
	&__card {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #000000;
		padding: rem(0) rem(0) rem(10) rem(0);
	}
	// .order__title
	&__title {
		font-size: rem(16);
		line-height: 1.19; /* 19/16 */
		color: $mainColor;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	// .order__name
	&__name {
		font-family: "Playfair Display", serif;
		font-size: rem(18);
		line-height: 1.33; /* 24/18 */
		color: #172432;
		@media (max-width: rem(1152)) {
			font-size: rem(16);
			line-height: 1.31; /* 21/16 */
		}
		&::before{
			// content:'';
			// background: url('@img/heroes/arrow-down2.svg');			
			// width: rem(21);
			// height: rem(14);
		}
	}
	// .order__book
	&__book {
		max-width: rem(170);
		@media (max-width:$mobileSmall){
			//display: flex;
			//flex-direction: row;
			//flex: 0 1 rem(450);
			width: 100%;
		}
	}
	// .order__book
	&__button {
		max-width: rem(170);
		display: inline-block;
		font-family: "Playfair Display", serif;
		font-size: rem(36);
		line-height: 1.33; /* 48/36 */
		background: $colorPage;
		color: #ffffff;
		padding: rem(60) rem(53) rem(60) rem(20);
		border-radius: rem(0) rem(20) rem(20) rem(0);
		align-items: center;
		&::before {
			// content:'';
			// background: url('@img/heroes/arrow-down2.svg');			
			// width: rem(21);
			// height: rem(14);
		}
		@media (max-width: rem(600)){
			display: inline-flex;
			border-radius: rem(0) rem(0) rem(20) rem(20);
			padding: rem(40) rem(53) rem(40) rem(20);
		}
	}
}

//========================================================================================================================================================
//========================================================================================================================================================
// ?.page__destinations
.destinations {
	@include adaptiveValue("padding-top", 140, 80);
	@include adaptiveValue("padding-bottom", 140, 80);
	padding-bottom: rem(140);
	min-width: 0;
	// .destinations__container
	&__container {
	}
	// .destinations__inner
	&__inner {
		//background: #bece92;
	}
	// .destinations__header
	&__header {
		//background: #92aece;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		// text-align: right;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 40);
		}
		@media (max-width: $mobile) {
			justify-content: start;
		}
	}
	&__box {
		//background: #c792ce;
	}
	// .destinations__title
	&__title {
		//text-align: left;
	}
	// .destinations__text
	&__text {
		max-width: rem(960);
		@include adaptiveValue("max-width", 960, 300);
	}
	// .destinations__btn
	&__btn {
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
			//margin-top: rem(100);
			@include adaptiveValue("margin-top", 100, 50);
		}
	}
	// .destinations__button
	&__button {
		&:not(:last-child) {
			margin-right: rem(40);
		}
		justify-content: center;
	}
	// .destinations__slider
	&__slider {
		padding: rem(30) 0 rem(70) 0;
		//margin: rem(100) 0 0 0;
	}
	// .destinations__wrapper
	&__wrapper {
	}
	// .destinations__slide
	&__slide {
		//flex: 0 1 31.96%;
		display: flex;
		//padding: rem(0) rem(0) rem(40) rem(0);
		justify-content: center;
		@media (max-width: $mobile) {
			width: rem(728);
			width: 100%;
		}
	}
	// .destinations__card
	&__card {
		position: relative;
		border-radius: rem(26) rem(26) rem(26) rem(26);
		@media (max-width: $mobile) {
			max-width: rem(728);
			width: 100%;
			height: rem(456);
		}
	}
	// .destinations__image
	&__image {
		border-radius: rem(26);
		overflow: hidden;
		img {
			max-width: 100%;
			border-radius: rem(26);
			@media (max-width: $mobile) {
				max-width: rem(728);
				width: 100%;
				height: rem(456);
				object-fit: cover;
			}
		}
	}
	// .destinations__block
	&__block {
		position: absolute;
		left: 4.83%;
		bottom: 8%;
		color: #ffffff;
	}
	// .destinations__monument
	&__monument {
		font-size: rem(28);
		line-height: 1.32; /* 37/28 */
		&:not(:last-child) {
			margin-bottom: rem(17);
		}
	}
	&__location {
		display: flex;
	}
	&__icon {
		margin-right: rem(16);
		width: rem(24);
		height: rem(24);
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .destinations__city
	&__city {
		font-size: rem(24);
		line-height: 1.16; /* 28/24 */
	}
	&__pagination {
		bottom: 0;
		& .swiper-pagination-bullet {
			width: rem(30);
			height: rem(30);
			line-height: rem(30);
			font-size: rem(18);
			background-color: #0105fd;
		}
	}
}

//====================================================================================================

//====================================================================================================
// ?.page__offer
.offer {
	@include adaptiveValue("padding-top", 140, 80);
	@include adaptiveValue("padding-bottom", 140, 80);
	// .offer__container
	&__container {
	}
	// .offer__inner
	&__inner {
	}
	// .offer__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		text-align: right;
		&:not(:last-child) {
			//margin-bottom: rem(100);
			@include adaptiveValue("margin-bottom", 100, 40);
		}
		@media (max-width: $mobile) {
			justify-content: end;
		}
	}
	&__btn {
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}
	}
	// .offer__button
	&__button {
		&:not(:last-child) {
			margin-right: rem(40);
		}
		// margin-right: rem(40);
		justify-content: center;
	}
	// .offer__block
	&__block {
		// @media (max-width:$mobile){
		// 	margin-bottom: rem(100);
		// }
	}
	// .offer__title
	&__title {
	}
	// .offer__text
	&__text {
	}
	// .offer__slider
	&__slider {
	}
	// .offer__wrapper
	&__wrapper {
	}
	// .offer__slide
	&__slide {
		display: flex;
		// flex: 0 1 33.3333%;
		//max-width: rem(497.33);
		padding: rem(0) rem(0) rem(40) rem(0);
	}
	// .offer__card
	&__card {
	}
}

.card-offer {
	// .card-offer__image
	&__image {
		border-radius: rem(26) rem(26) 0 0;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .card-offer__content
	&__content {
		background: #fff8f1;
		padding: rem(0) rem(24) rem(40) rem(24);
		border-radius: 0 0 rem(26) rem(26);
	}
	// .card-offer__city
	&__city {
		padding-top: rem(40);
		font-family: "Mulish", sans-serif;
		font-size: rem(28);
		line-height: 1.25; /* 35/28 */
		color: inherit;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .card-offer__rating
	&__rating {
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .card-offer__desc
	&__desc {
		line-height: 1.16; /* 21/18 */
		color: #172432;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .card-offer__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: rem(380)) {
			display: inline-block;
			justify-content: start;
		}
	}
	// .card-offer__price
	&__price {
		display: flex;
		font-size: rem(20);
		line-height: 1.2; /* 24/20 */
		color: inherit;
		align-items: center;
		span {
			//font-size: rem(40);
			@include adaptiveValue("font-size", 40, 28);
			line-height: 1.17; /* 47/40 */
			color: #ff7757;
			margin-left: rem(10);
			//align-items: center;
		}
		@media (max-width: rem(380)) {
			margin-bottom: rem(10);
		}
	}
	// .card-offer__button
	&__button {
		color: #ffffff;
		font-size: rem(20);
		line-height: 1.2; /* 24/20 */
		text-transform: uppercase;
	}
}
//====================================================================================================
// ?.page__blog
.blog {
	@include adaptiveValue("padding-top", 140, 80);
	@include adaptiveValue("padding-bottom", 140, 80);
	// .blog__container
	&__container {
	}
	// .blog__inner
	&__inner {
	}
	// .blog__header
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(100);
		}
	}
	// .blog__title
	&__title {
	}
	// .blog__text
	&__text {
	}
	// .blog__content
	&__content {
		display: flex;
		gap: rem(32);
		align-items: center;
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .blog__image
	&__image {
		flex: 0 1 50%;
		border-radius: rem(26);
		overflow: hidden;
		max-width: rem(762);
		height: auto;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			//background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
		}
	}
	// .blog__body
	&__body {
		flex: 0 1 50%;
	}
	// .blog__subtitle
	&__subtitle {
		font-family: "Playfair Display", serif;
		//font-size: rem(54);
		@include adaptiveValue("font-size", 54, 30);
		line-height: 1.33; /* 72/54 */
		color: #172432;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .blog__desc
	&__desc {
		font-size: rem(24);
		line-height: 2.16; /* 52/24 */
		color: #172432;
		&:not(:last-child) {
			margin-bottom: rem(14);
		}
		@media (max-width: rem(1344)) {
			font-size: rem(22);
			line-height: 2.23; /* 42/18 */
		}
		@media (max-width: rem(1287)) {
			font-size: rem(20);
			line-height: 2.16; /* 42/18 */
		}
		@media (max-width: rem(1152)) {
			font-size: rem(18);
			line-height: 2.16; /* 42/18 */
			margin-bottom: rem(0);
		}
	}
	// .blog__read
	&__read {
		display: inline-block;
		font-size: rem(24);
		line-height: 2.16; /* 52/24 */
		color: $colorPage;
		img {
			vertical-align: middle;
			margin-left: rem(20);
		}
	}
}

//========================================================================================================================================================
//====================================================================================================
// ?.page__planner
.planner {
	@include adaptiveValue("padding-top", 140, 80);
	@include adaptiveValue("padding-bottom", 140, 80);
	// .planner__container
	&__container {
	}
	// .planner__inner
	&__inner {
		display: flex;
		@media (max-width:$mobile){
			display: block;; 
		}
	}
	// .planner__header
	&__aside {
		flex: 0 1 rem(394);
		margin-right: rem(100);
		//@include adaptiveValue("margin-right", 100, 60);
		width: rem(394);
		width: 100%;
		//display: flex;
		justify-content: space-between;
		align-items: flex-start;
		text-align: left;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 40);
		}
		@media (max-width: $mobile) {
			justify-content:flex-start;
		}
	}
	// .planner__btn
	&__btn {
		position: relative;
		@media (max-width:$mobile){
			margin-top: rem(55);
			margin-bottom: rem(80);
		}
	}
	// .planner__button
	&__button {
		margin-left: rem(40);
		//position: relative;
		&::before{
			content:'';
			width: rem(43);
			height: rem(43);
			background-color: #172432;
			position: absolute;
			top: rem(-14);
			left: rem(-14);
			z-index: -1;
		}
		&::after{
			content:'';
			content:'';
			width: rem(43);
			height: rem(43);
			background-color: #767E86;
			position: absolute;
			bottom: rem(-14);
			right: rem(-14);
			z-index: -1;
		}
	}
	// .planner__title
	&__title {
	}
	// .planner__text
	&__text {
		&:not(:last-child) {
			argin-bottom: rem(35);
		}
	}
	// .planner__slider
	&__slider {
		flex: 0 1 rem(1062);
	}
	// .planner__wrapper
	&__wrapper {
	}
	// .planner__slide
	&__slide {
		display: flex;
		max-width: rem(1062);
		//padding: rem(0) rem(0) rem(40) rem(0);
		justify-content: center;
	}
	// .planner__card
	&__card {
	}
}

.card-planner {
	background: #eeeded;
	border-radius: rem(26) rem(26) 0 0;
	@media (max-width: rem(1440)){
		max-width: rem(358);
		width: 100%;
	}
	@media (max-width:$mobile){
		max-width: rem(486);
		width: 100%;
	}
	// .card-planner__image
	&__image {
		border-radius: rem(26) rem(26) rem(26) rem(26);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			//border-radius: rem(26) rem(26) rem(26) rem(26);
		}
		@media (max-width: rem(1440)){
			// width: rem(358);
			// width: 100%;
		}
		@media (max-width: rem(1152)){
			//width: rem(250);
		}
	}
	// .card-planner__content
	&__content {
		font-size: rem(18);
		line-height: 1.17; /* 21/18 */
		color: #172432;
		padding-top: rem(20);
		padding-bottom: rem(20);
	}
	// .card-planner__box-price
	&__box-price {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	// .card-planner__subtitle
	&__subtitle {
		text-transform: uppercase;
	}
	// .card-planner__price
	&__price {
	}
	// .card-planner__title
	&__title {
		font-weight: 600;
		font-size: rem(28);
		line-height: 1.32; /* 37/28 */
		color: #172432;
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	// .card-planner__tour
	&__tour {
		display: flex;
		justify-content: space-between;
	}
	// .card-planner__rating
	&__rating {
	}
	// .card-planner__duration
	&__duration {
	}
}

//====================================================================================================

//========================================================================================================================================================
// ?.page__gallery
.gallery {
	@include adaptiveValue("padding-top", 140, 80);
	@include adaptiveValue("padding-bottom", 140, 80);
	padding-bottom: rem(140);
	min-width: 0;
	// .gallery__container
	&__container {
	}
	// .gallery__inner
	&__inner {
		//background: #bece92;
	}
	// .gallery__header
	&__header {
		//background: #92aece;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		// text-align: right;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 40);
		}
		@media (max-width: $mobile) {
			justify-content: start;
		}
	}
	// .gallery__box
	&__box {
		//background: #c792ce;
	}
	// .gallery__title
	&__title {
		//text-align: left;
	}
	// .gallery__text
	&__text {
		max-width: rem(960);
		@include adaptiveValue("max-width", 960, 300);
	}
	// .gallery__btn
	&__btn {
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
			//margin-top: rem(100);
			@include adaptiveValue("margin-top", 100, 50);
		}
	}
	// .gallery__button
	&__button {
		&:not(:last-child) {
			margin-right: rem(40);
		}
		justify-content: center;
	}
	// .gallery__slider
	&__slider {
		padding: rem(30) 0 rem(70) 0;
		//margin: rem(100) 0 0 0;
	}
	// .gallery__wrapper
	&__wrapper {
	}
	// .gallery__slide
	&__slide {
		//flex: 0 1 31.96%;
		display: flex;
		//padding: rem(0) rem(0) rem(40) rem(0);
		justify-content: center;
		@media (max-width: $tablet) {
			width: rem(490);
			width: 100%;
		}
		@media (max-width: $mobile) {
			width: rem(728);
			width: 100%;
		}
	}
	// .destinations__card
	&__card {
		position: relative;
		border-radius: rem(26) rem(26) rem(26) rem(26);
		@media (max-width: $tablet) {
			max-width: rem(490);
			width: 100%;
		}
		@media (max-width: $mobile) {
			width: rem(760);
			width: 100%;
			height: rem(351);
		}
	}
	// .destinations__image
	&__image {
		border-radius: rem(26);
		overflow: hidden;
		img {
			max-width: 100%;
			border-radius: rem(26);
			@media (max-width: $tablet) {
				width: rem(490);
				width: 100%;
				object-fit: cover;
				border-radius: rem(26);
			}
			@media (max-width: $mobile) {
				width: rem(760);
				width: 100%;
				height: rem(351);
				object-fit: cover;
				border-radius: rem(26);
			}
		}
	}
}

//====================================================================================================
// ?.page__experiences
.experiences {
	//position: relative;
	@include adaptiveValue("padding-top", 140, 80);
	//@include adaptiveValue("padding-bottom", 240, 100);
	// .experiences__container
	&__container {
	}
	// .experiences__inner
	&__inner {
		min-width: 0;
	}
	// .experiences__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 95, 40);
		}
	}
	// .experiences__title
	&__title {
	}
	// .experiences__text
	&__text {
	}
	// .experiences__slider
	&__slider {
		max-width: rem(2053); //2053
	}
	// .experiences__wrapper
	&__wrapper {
	}
	// .experiences__slide
	&__slide {
		display: flex;
		justify-content: center;
	}
	// .experiences__card-review
	&__card-review {
	}
	// .experienc
	&__footer {
		@include adaptiveValue("padding-top", 160, 80);
	}
	// .experiences__content
	&__content {
		//position: relative;
	}
	// .experiences__btn
	&__btn {
		display: flex;
		justify-content: end;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}
	}
	// .experiences__button
	&__button {
		&:not(:last-child) {
			margin-right: rem(40);
		}
		justify-content: center;
	}
	// .experiences__block
	&__block {
	}	
}

.card-review {
	width: rem(663);
	// .card-review__image
	&__image {
		margin-left: rem(40);
		margin-bottom: rem(-40);
		width: rem(100);
		height: rem(100);
		overflow: hidden;
		border-radius: rem(100);
		z-index: 3;
		img {
			width: 100%;
			height: 100%;
			background: #f5f6f7;
		}
	}
	// .card-review__content
	&__content {
		background: #f5f6f7;
		padding: rem(60) rem(40) rem(40) rem(40);
		border-radius: rem(12);
	}
	// .card-review__desc
	&__desc {
		line-height: 1.28; /* 23/18 */
		color: inherit;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .card-review__rating
	&__rating {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .card-review__name
	&__name {
		font-size: rem(24);
		line-height: 1.33; /* 32/24 */
		color: inherit;
		&:not(:last-child) {
			margin-bottom: rem(4);
		}
	}
	// .card-review__status
	&__status {
		line-height: 1.16; /* 21/18 */
		color: inherit;
	}
}

.letter {
	max-width: rem(1262);
	margin: 0 auto;
	position: relative;
	bottom: rem(-54);
	@media (max-width: rem(1050)) {
		bottom: 0;
	}
	// .letter__block
	&__block {
		display: flex;
		background-color: #fff;
		justify-content: space-between;
		@media (max-width: rem(1050)) {
			flex-direction: column;
		}
		box-shadow: 0 0 rem(4) rgba(0, 0, 0, 0.3);
		border-radius: rem(26);
		padding: rem(60) rem(80);
		@media (max-width: rem(1152)) {
			padding: rem(60) rem(40);
		}
		@media (max-width: rem(1050)) {
			padding: rem(40);
			margin-top: rem(80);
		}
	}
	// .letter__title
	&__title {
		flex: 0 1 39.97%;
		font-family: "Playfair Display", serif;
		@include adaptiveValue("font-size", 64, 30);
		line-height: rem(85); /* 85/64 */
		color: #767e86;
		@media (max-width: rem(1050)) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}
	// .letter__item
	&__item {
		display: flex;
		align-self: end;
		@media (max-width: rem(1050)) {
			align-self: start;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			width: 100%;
		}
	}
	// .letter__text
	&__text {
		display: flex;
		flex-direction: column;
		@media (max-width: $mobile) {
			margin-bottom: rem(32);
			align-self: start;
			width: 100%;
		}
	}
	// .letter__label
	&__label {
		margin-bottom: rem(16);
	}
	// .letter__input
	&__input {
		flex: 0 1 29.48%;
		width: 100%;
		background: #ffe8d4;
		border-radius: 12px;
		margin-right: rem(32);
		padding: rem(23) rem(40) rem(23) rem(40);
		@media (max-width: rem(1050)) {
			margin-right: rem(64);
			flex: 0 1 53.2%;
		}
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
	// .letter__btn
	&__btn {
		display: flex;
		align-self: end;
		margin-left: rem(32);
		@media (max-width: rem(1050)) {
			margin-left: rem(64);
		}
		@media (max-width: $mobile) {
			align-self: start;
			margin-left: 0;
			width: 100%;
		}
	}
	// .letter__button
	&__button {
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
}
//========================================================================================================================================================



